---
- name: Gather Juniper Device Facts
  hosts: juniper
  gather_facts: false

  tasks:
    - name: Get device facts
      junipernetworks.junos.junos_facts:
        gather_subset:
          - default
          - interfaces
    
    - name: Display hostname
      debug:
        msg: "Hostname: {{ ansible_net_hostname }}"

    - name: Display JunOs version
      debug:
        msg: "Version: {{ ansible_net_version }}"

    - name: Display interfaces
      debug:
        msg: "Interfaces: {{ item.key }} | Status: {{ item.value['oper-status'] }}"
      loop: "{{ ansible_net_interfaces | dict2items }}"
      when: item.key.startswith('ge-') or item.key.startswith('fxp') or item.key == 'lo0'
      loop_control:
        label: "{{ item.key }}"